@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from AnimalTreatment_Page"; 
var treatmentList= "select * from AnimalTreatment";
var animalList = "select * from Animal";
string successMsg = "";
if (IsPost){
switch (Request.Form["SaveType"])
{

case "Add": 
db.Execute("insert into AnimalTreatment (AnimalTreatmentID, AnimalID, TreatmentID, StartDate, EndDate, Observations) values (@0, @1, @2, @3, @4, @5)", Request.Form["animaltreatmentid"], Request.Form["animalid"], Request.Form["treatmentid"], Request.Form["startdate"], Request.Form["enddate"], Request.Form["observations"]);
successMsg =" AnimalTreatment added.";
break;
case "Edit": 
db.Execute("update AnimalTreatment set  AnimalID =@1, TreatmentID=@2, StartDate=@3, EndDate=@4, Observations=@5 where AnimalTreatmentID = @0", Request.Form["animaltreatmentid"], Request.Form["animalid"], Request.Form["treatmentid"], Request.Form["startdate"], Request.Form["enddate"], Request.Form["observations"]);
successMsg =" AnimalTreatment updated.";
break;
case "Delete": 
db.Execute("delete from AnimalTreatment where AnimalTreatmentID=@0", Request.Form["animaltreatmentid"]);
successMsg =" AnimalTreatment deleted.";
break;
}
}
}
@if (successMsg != "") {
<div class="alert alert-success">
  <strong>Success!</strong> @successMsg
</div>
}
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id ="modaltitle">Add New Diet</h4>
        <button type="button" class="close" data-dismiss="modal" id="myClose">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="">
  <div class="form-group">
    <label for="animaltreatmentid">AnimalTreatment ID:</label>
    <input type="text" class="form-control" id="animaltreatmentid" name = "animaltreatmentid">
  </div>
  <div class="form-group">
    <label for="animalList">Animal ID:</label>
 <select class = "form-control" id ="animalid" name = "animalid">
   @foreach(var animalrow in db.Query(animalList))
   {
   <option value = "@animalrow.AnimalID">@animalrow.AnimalID</option>
   }
    </select>
  </div>
  <div class="form-group">
    <label for="treatmentList">Treatment ID:</label>
<select class = "form-control" id ="treatmentid" name = "treatmentid">
   @foreach(var treatmentrow in db.Query(treatmentList))
   {
   <option value = "@treatmentrow.TreatmentID">@treatmentrow.TreatmentID</option>
    }  </select></div>
    
   <div class="form-group">
    <label for="startdate">Start Date:</label>
    <input type="text" class="form-control" id="startdate" name = "startdate">
  </div>
  <div class="form-group">
    <label for="enddate">End Date:</label>
    <input type="text" class="form-control" id="enddate" name = "enddate">
  </div>
  <div class="form-group">
    <label for="observations">Observations:</label>
    <input type="text" class="form-control" id="observations" name = "observations">
  </div>
    
           <input type = "hidden" name ="SaveType" id = "SaveType" value="Add">
<button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>

<h1>
    AnimalTreatment
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  <i class="fas fa-plus-circle"></i>
</button>
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>AnimalTreatment ID</th>
                <th>Animal ID</th>
                <th>Treatment ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Observations</th>
               
              <th></th>
               <th></th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.AnimalTreatmentID</td> 
<td>@row.AnimalID</td> 
<td>@row.TreatmentID</td> 
<td>@row.StartDate.ToString("MM/dd/yyyy")</td> 
<td>@row.EndDate.ToString("MM/dd/yyyy")</td> 
    <td>@row.Observations</td>
  <td><button type="button" class="btn btn-primary myEdit" data-animaltreatmentid="@row.AnimalTreatmentID" data-animalid="@row.AnimalID" data-treatmentid="@row.TreatmentID" data-startdate="@row.Startdate" data-enddate="@row.EndDate" data-observations="@row.Observations"><i class="fas fa-pen-square"></i></button></td>
  <td>
    <form method="post" action ="">
      <input type ="hidden" name="animaltreatmentid" value="@row.AnimalTreatmentID">
      <input type ="hidden"  name = "SaveType" value ="Delete">
      <button type= "submit" class= "btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');"><i class="far fa-trash-alt"></i></button>
    </form></td>
 </tr> 
}
        </tbody>
    </table>
</div>
 <script>
$(document).ready(function(){
  
  $(".myEdit").click(function(){
    $("#modalTitle").text("Edit Animal Treatment");
    
    $("#animaltreatmentid").val($(this).attr("data-animaltreatmentid"));
    $("#dietid").attr("disabled", "disabled");
    $("#animal").val($(this).attr("data-animalid"));
    $("#treatmentid").val($(this).attr("data-treatmentid"));
    $("#startdate").val($(this).attr("data-startdate"));
    $("#enddate").val($(this).attr("data-enddate"));
    $("#observations").val($(this).attr("data-observations"));

     $("#myModal").modal({
       show: true
     });
    $("#SaveType").val("Edit");
  });
    $("#myClose").click(function(){
    $("#modalTitle").text("Add New Diet");
      $("#animaltreatmentid").removeAttr("disabled");
    $("#animaltreatmentid").val("");
    $("#animalid").val("");
    $("#treatmentid").val("");
    $("#startdate").val("");
    $("#enddate").val("");
    $("#observations").val("");

    $("#SaveType").val("Add");
  });
});
</script>
