@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Animal_Page order by AnimalID"; 
var shelterList= "select a.* from animal a join shelter s on s.ShelterID = a.ShelterID";
}

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id = "modalTitle">Add New Animal</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="save-animal">
  <div class="form-group">
    <label for="animalid">Animal ID:</label>
    <input type="text" class="form-control" id="animalid" name = "animalid">
  </div>
  <div class="form-group">
    <label for="shelterid">Shelter ID:</label>
 <select class = "form-control" id ="shelterid" name = "shelterid">
   @foreach(var shelterrow in db.Query(shelterList))
   {
   <option value = "@shelterrow.ShelterID">@shelterrow.ShelterID</option>
   }
    </select>
  </div>
  <div class="form-group">
    <label for="animalname">Animal Name:</label>
    <input type="text" class="form-control" id="animalname" name = "animalname">
  </div>
   <div class="form-group">
    <label for="animaltype">Animal Type:</label>
    <input type="text" class="form-control" id="animaltype" name = "animaltype">
  </div>
  <div class="form-group">
    <label for="gender">Gender:</label>
    <input type="text" class="form-control" id="gender" name = "gender">
  </div>
    <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input type="text" class="form-control" id="dob" name = "dob">
  </div>
  <div class="form-group">
    <label for="admitdate">Date Admitted:</label>
    <input type="text" class="form-control" id="admitdate" name = "admitdate">
  </div>
    <div class="form-group">
    <label for="depdate">Departure Date:</label>
    <input type="text" class="form-control" id="depdate" name = "depdate">
  </div>
    <div class="form-group">
    <label for="status">In-Shelter Status:</label>
    <input type="text" class="form-control" id="status" name = "status">
  </div>
<button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>

<h1>
    Animals
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  +
</button>
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Animal ID</th>
                <th>Shelter ID</th>
                <th>Animal Name</th>
                <th>Animal Type</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Date Admitted</th>
                <th>InShelter Status</th>
                <th>Departure Date</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
          string departDisplay = "";
          if (row.DepartureDate.ToString("MM/dd/yyyy") != "01/01/0001")
          {
          departDisplay = row.DepartureDate.ToString("MM/dd/yyyy");
          }
<tr> 
<td>@row.AnimalID</td> 
<td>@row.ShelterID</td> 
<td>@row.AnimalName</td> 
<td>@row.AnimalType</td>
<td>@row.Gender</td> 
<td>@row.DateOfBirth.ToString("MM/dd/yyyy")</td> 
<td>@row.DateAdmitted.ToString("MM/dd/yyyy")</td>
<td>@row.InShelterStatus</td> 
<td>@departDisplay</td>
  <td><button type="button" class="btn btn-primary myEdit" data-animalid = "@row.AnimalID" data-shelterid = "@row.ShelterID" data-animalname = "@row.AnimalName" data-animalType = "@row.AnimalType" data-gender = "@row.Gender" data-dob = "@row.DateOfBirth" data-admitdate = "@row.DateAdmitted" data-depdate = "@row.DepartureDate" data-status = "@row.InShelterStatus" >Edit</button></td>
</tr> 
}
        </tbody>
    </table>
</div>
<script>
  $(document).ready(function(){
  $(".myEdit").click(function(){
  
    $("#modalTitle").text("Edit Aircraft");
 
  $("#animalid").val(this.getAttribute("data-animalid"));
  $("#shelterid").val(this.getAttribute("data-shelterid"));
  $("#animalname").val(this.getAttribute("data-animalname"));
  $("#animaltype").val(this.getAttribute("data-animaltype"));
  $("#gender").val(this.getAttribute("data-gender"));
  $("#dob").val(this.getAttribute("data-dob"));
  $("#depdate").val(this.getAttribute("data-depdate"));
  $("#admitdate").val(this.getAttribute("data-admitdate"));
  $("#status").val(this.getAttribute("data-status"));
                     
  $("myModal").modal({
             show: true
             });
});
});
</script>
