@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Animal"; 
}
<h1>Animals</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Animal ID</th>
                <th>Shelter ID</th>
                <th>Animal Name</th>
                <th>Animal Type</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Date Admitted</th>
                <th>InShelter Status</th>
                <th>Departure Date</th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.AnimalID</td> 
<td>@row.ShelterID</td> 
<td>@row.AnimalName</td> 
<td>@row.AnimalType</td>
<td>@row.Gender</td> 
<td>@row.DateOfBirth</td> 
<td>@row.DateAdmitted</td>
<td>@row.InShelterStatus</td> 
<td>@row.DepartureDate</td> 
</tr> 
}
        </tbody>
    </table>
</div>
