@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Client_Page"; 
}

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id= "modalTitle">Add New Client</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="save-client.cshtml">
  <div class="form-group">
    <label for="clientid">Client ID:</label>
    <input type="text" class="form-control" id="clientid" name = "clientid">
  </div>
  <div class="form-group">
    <label for="firstname">First Name:</label>
     <input type="text" class="form-control" id="firstname" name = "firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" class="form-control" id="lastname" name = "lastname">
  </div>
   <div class="form-group">
    <label for="streetaddress">Street Address:</label>
    <input type="text" class="form-control" id="streetaddress" name = "streetaddress">
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" id="city" name = "city">
  </div>
    <div class="form-group">
    <label for="state">State:</label>
    <input type="text" class="form-control" id="state" name = "state">
  </div>
  <div class="form-group">
    <label for="zipcode">ZipCode:</label>
    <input type="text" class="form-control" id="zipcode" name = "zipcode">
  </div>
  <div class="form-group">
    <label for="pnum">Phone Number:</label>
    <input type="text" class="form-control" id="pnum" name = "pnum">
  </div>
<button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>

<h1>
    Clients
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  +
</button>
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.ClientID</td> 
<td>@row.FirstName</td> 
<td>@row.LastName</td> 
<td>@row.StreetAddress</td>
<td>@row.City</td> 
<td>@row.State</td> 
<td>@row.ZipCode</td>
<td>@row.PhoneNumber</td> 
  <td><button type="button" class="btn btn-primary myEdit" data-clientid = "@row.ClientID" data-firstname="@row.FirstName" data-lastname="@row.LastName" data-streetaddress="@row.StreetAddress" data-city="@row.City" data-state="@row.State" data-zipcode="@row.ZipCode" data-pnum="@row.PhoneNumber">Edit</button></td>
</tr> 
}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function(){
  
  $(".myEdit").click(function(){
    $("#modalTitle").text("Edit Client");
    
    $("#clientid").val($(this).attr("data-clientid"));
    $("#firstname").val($(this).attr("data-firstname"));
    $("#lastname").val($(this).attr("data-lastname"));
    $("#streetaddress").val($(this).attr("data-streetaddress"));
    $("#city").val($(this).attr("data-city"));
    $("#state").val($(this).attr("data-state"));
    $("#zipcode").val($(this).attr("data-zipcode"));
    $("#pnum").val($(this).attr("data-pnum"));

     $("#myModal").modal({
       show: 'true'
     });
  });
});
</script>
