@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Diet_Page"; 
var foodList= "select * from Food";
var animalList = "select * from Animal";
string successMsg = "";
if (IsPost){
switch (Request.Form["SaveType"])
{

case "Add": 
db.Execute("insert into Diet (DietID, AnimalID, FoodID, FeedingQuantity, DietStart, DietEnd, Description) values (@0, @1, @2, @3, @4, @5, @6)", Request.Form["dietid"], Request.Form["animalid"], Request.Form["foodid"], Request.Form["feedqty"], Request.Form["start"], Request.Form["end"], Request.Form["description"]);
successMsg =" Diet added.";
break;
case "Edit": 
db.Execute("update Diet set  AnimalID =@1, FoodID=@2, FeedingQuantity=@3, DietStart=@4, DietEnd=@5, Description=@6 where DietID = @0", Request.Form["dietid"], Request.Form["animalid"], Request.Form["foodid"], Request.Form["feedqty"], Request.Form["start"], Request.Form["end"], Request.Form["description"]);
successMsg =" Diet updated.";
break;
case "Delete": 
db.Execute("delete from Diet where DietID=@0", Request.Form["dietid"]);
successMsg =" Diet deleted.";
break;
}
}
}
@if (successMsg != "") {
<div class="alert alert-success">
  <strong>Success!</strong> @successMsg
</div>
}
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id ="modaltitle">Add New Diet</h4>
        <button type="button" class="close" data-dismiss="modal" id="myClose">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="">
  <div class="form-group">
    <label for="dietid">Diet ID:</label>
    <input type="text" class="form-control" id="dietid" name = "dietid">
  </div>
  <div class="form-group">
    <label for="animalList">Animal ID:</label>
 <select class = "form-control" id ="animalid" name = "animalid">
   @foreach(var animalrow in db.Query(animalList))
   {
   <option value = "@animalrow.AnimalID">@animalrow.AnimalID</option>
   }
    </select>
  </div>
  <div class="form-group">
    <label for="animalList">Food ID:</label>
<select class = "form-control" id ="foodid" name = "foodid">
   @foreach(var foodrow in db.Query(foodList))
   {
   <option value = "@foodrow.FoodID">@foodrow.FoodID</option>
    }  </select></div>
   <div class="form-group">
    <label for="feedqty">Feeding Quantity:</label>
    <input type="text" class="form-control" id="feedqty" name = "feedqty">
  </div>
  <div class="form-group">
    <label for="start">Diet Start Date:</label>
    <input type="text" class="form-control" id="start" name = "start">
  </div>
    <div class="form-group">
    <label for="end">Diet End Date:</label>
    <input type="text" class="form-control" id="end" name = "end">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" name = "description">
  </div>
           <input type = "hidden" name ="SaveType" id = "SaveType" value="Add">
<button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>

<h1>
    Diets
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  +
</button>
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Diet ID</th>
                <th>Animal ID</th>
                <th>Food ID</th>
                <th>Feeding Quantity</th>
                <th>Diet Start Date</th>
                <th>Diet End Date</th>
              <th></th>
               <th></th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.DietID</td> 
<td>@row.AnimalID</td> 
<td>@row.FoodID</td> 
<td>@row.FeedingQuantity</td>
<td>@row.DietStart.ToString("MM/dd/yyyy")</td> 
<td>@row.DietEnd.ToString("MM/dd/yyyy")</td> 
  <td><button type="button" class="btn btn-primary myEdit" data-dietid="@row.DietID" data-animalid="@row.AnimalID" data-foodid="@row.FoodID" data-feedqty="@row.FeedingQuantity" data-start="@row.DietStart" data-end="@row.DietEnd" data-discription="@row.Description">Edit</button></td>
  <td>
    <form method="post" action ="">
      <input type ="hidden" name="dietid" value="@row.DietID">
      <input type ="hidden"  name = "SaveType" value ="Delete">
      <button type= "submit" class= "btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
    </form></td>
 </tr> 
}
        </tbody>
    </table>
</div>
 <script>
$(document).ready(function(){
  
  $(".myEdit").click(function(){
    $("#modalTitle").text("Edit Diet");
    
    $("#dietid").val($(this).attr("data-dietid"));
    $("#dietid").attr("disabled", "disabled");
    $("#animal").val($(this).attr("data-animalid"));
    $("#foodid").val($(this).attr("data-foodid"));
    $("#feedqty").val($(this).attr("data-feedqty"));
    $("#start").val($(this).attr("data-start"));
    $("#end").val($(this).attr("data-end"));
   $("#discription").val($(this).attr("data-discription"));
     $("#myModal").modal({
       show: true
     });
    $("#SaveType").val("Edit");
  });
    $("#myClose").click(function(){
    $("#modalTitle").text("Add New Diet");
      $("#dietid").removeAttr("disabled");
    $("#dietid").val("");
    $("#animalid").val("");
    $("#foodid").val("");
    $("#feedqty").val("");
    $("#start").val("");
    $("#end").val("");
    $("#discription").val("");
    $("#SaveType").val("Add");
  });
});
</script>
