@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Donation_Page"; 
var shelterList= "select * from Shelter";
var donorList = "select * from Donor";
var donationtypeList = "select * from DonationType";

string successMsg = "";

if (IsPost) {
switch(Request.Form["SaveType"]) {
case "Add":
db.Execute("insert into Donation (DonationID, ShelterID, DonorID, DonationTypeID) values (@0, @1, @2, @3)", Request.Form["donid"], Request.Form["shelterid"], Request.Form["donorid"], Request.Form["dontypeid"]);
successMsg = "Donation added.";
break;

case "Edit":
db.Execute("update Donation set ShelterID=@1, DonorID=@2, DonationTypeID=@3 where DonationId=@0", Request.Form["donid"], Request.Form["shelterid"], Request.Form["donorid"], Request.Form["dontypeid"]);
successMsg = "Donation updated.";
break;

case "Delete":
db.Execute("delete from Donation where Donationid=@0", Request.Form["donid"]);
successMsg = "Donation deleted.";
break;
}
}
}

@if(successMsg != "")
{
<div class="alert alert-success">
  <strong>Success!</strong> @successMsg
</div>
}
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id = "modalTitle">Add New Donation</h4>
        <button type="button" class="close" data-dismiss="modal" id = "myClose">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="">
  <div class="form-group">
    <label for="donid">Donation ID:</label>
    <input type="text" class="form-control" id="donid" name = "donid">
  </div>
  <div class="form-group">
    <label for="shelterid">Shelter ID:</label>
 <select class = "form-control" id ="shelterid" name = "shelterid">
   @foreach(var shelterrow in db.Query(shelterList))
   {
   <option value = "@shelterrow.ShelterID">@shelterrow.ShelterID</option>
   }
    </select>
  </div>
  <div class="form-group">
    <label for="donorid">Donor ID:</label>
 <select class = "form-control" id ="donorid" name = "donorid">
   @foreach(var donorrow in db.Query(donorList))
   {
   <option value = "@donorrow.DonorID">@donorrow.DonorID</option>
   }
    </select>
  </div>
   
   <div class="form-group">
    <label for="dontypeid">DonationType ID:</label>
 <select class = "form-control" id ="dontypeid" name = "dontypeid">
   @foreach(var dontyperow in db.Query(donationtypeList))
   {
   <option value = "@dontyperow.DonationTypeID">@dontyperow.DonationTypeID</option>
   }
    </select>
  </div>
           
 
    <input type="hidden" name="SaveType" id="SaveType" value="Add">
<button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>

<h1>
    Donations
<!-- Button to Open the Modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  <i class="fas fa-plus-circle"></i>
</button>
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Donation ID</th>
                <th>Shelter ID</th>
                <th>Donor ID</th>
                <th>DonationType ID</th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.DonationID</td> 
<td>@row.ShelterID</td> 
<td>@row.DonorID</td> 
<td>@row.DonationTypeID</td> 
  <td><button type="button" class="btn btn-primary myEdit" data-donid = "@row.DonationID" data-shelterid = "@row.ShelterID" data-donorid = "@row.DonorID" data-dontype = "@row.DonationTypeID"><i class="far fa-pencil-alt"></i></button></td>
  <td>
    <form method="post" action="">
      <input type="hidden" name="donid" value="@row.DonationID">
      <input type="hidden" name="SaveType" value="Delete">
      <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');"><i class="far fa-trash-alt"></i></button>
    </form>
  </td>
</tr> 
}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function(){
  
  $(".myEdit").click(function(){
    $("#modalTitle").text("Edit Donation");
    
    $("#donid").val($(this).attr("data-donid"));
    $("#donid").attr("disabled", "disabled");
    $("#shelterid").val($(this).attr("data-shelterid"));
    $("#donorid").val($(this).attr("data-donorid"));
   
    $("#dontypeid").val($(this).attr("data-dontypeid"));
   
     $("#myModal").modal({
       show: true
     });
    $("#SaveType").val("Edit");
  });
    $("#myClose").click(function(){
    $("#modalTitle").text("Add New Donation");
    
    $("#donid").removeAttr("disabled");
    $("#donid").val("");
    $("#shelterid").val("");
    $("#donorid").val("");
   
    $("#dontypeid").val("");
      
    $("#SaveType").val("Add");
  });
});
</script>
