@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Donation_Page"; 
var shelterList= "select d.* from donation d join shelter s on s.ShelterID = d.ShelterID";
var donorList= "select d.* from donation d join Donor dr on dr.DonorID = d.DonorID";

string successMsg = "";

if (IsPost) {
switch(Request.Form["SaveType"]) {
case "Add":
db.Execute("insert into Donation (DonationID, ShelterID, DonorID, DonationAmount, DonationType) values (@0, @1, @2, @3, @4)", Request.Form["donid"], Request.Form["shelterid"], Request.Form["donorid"], Request.Form["donamt"], Request.Form["dontype"]);
successMsg = "Donation added.";
break;

case "Edit":
db.Execute("update Donation set ShelterID=@1, DonorID=@2, DonationAmount=@3, DonationType=@4) where DonationId=@0", Request.Form["donid"], Request.Form["shelterid"], Request.Form["donorid"], Request.Form["donamt"], Request.Form["dontype"]);
successMsg = "Donation updated.";
break;

case "Delete":
db.Execute("delete from Donation where Donationid=@0", Request.Form["donid"]);
successMsg = "Donation deleted.";
break;
}
}
}

@if(successMsg != "")
{
<div class="alert alert-success">
  <strong>Success!</strong> Record Saved
</div>
}
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id = "modalTitle">Add New Donation</h4>
        <button type="button" class="close" data-dismiss="modal" id = "myClose">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="">
  <div class="form-group">
    <label for="donid">Donation ID:</label>
    <input type="text" class="form-control" id="donid" name = "donid">
  </div>
  <div class="form-group">
    <label for="shelterid">Shelter ID:</label>
 <select class = "form-control" id ="shelterid" name = "shelterid">
   @foreach(var shelterrow in db.Query(shelterList))
   {
   <option value = "@shelterrow.ShelterID">@shelterrow.ShelterID</option>
   }
    </select>
  </div>
  <div class="form-group">
    <label for="donorid">Donor ID:</label>
 <select class = "form-control" id ="donorid" name = "donorid">
   @foreach(var donorrow in db.Query(donorList))
   {
   <option value = "@donorrow.DonorID">@donorrow.DonorID</option>
   }
    </select>
  </div>
   <div class="form-group">
    <label for="donamt">Donation Amount:</label>
    <input type="text" class="form-control" id="donamt" name = "donamt">
  </div>
  <div class="form-group">
    <label for="dontype">Donation Type:</label>
    <input type="text" class="form-control" id="dontype" name = "dontype">
  </div>
    <input type="hidden" name="SaveType" id="SaveType" value="Add">
<button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>

<h1>
    Donations
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  +
</button>
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Donation ID</th>
                <th>Shelter ID</th>
                <th>Donor ID</th>
                <th>Donation Amount</th>
                <th>Donation Type</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.DonationID</td> 
<td>@row.ShelterID</td> 
<td>@row.DonorID</td> 
<td>@row.DonationAmount</td>
<td>@row.DonationType</td> 
  <td><button type="button" class="btn btn-primary myEdit" data-donid = "@row.DonationID" data-shelterid = "@row.ShelterID" data-donorid = "@row.DonorID" data-donamt = "@row.DonationAmount" data-dontype = "@row.DonationType">Edit</button></td>
</tr> 
}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function(){
  
  $(".myEdit").click(function(){
    $("#modalTitle").text("Edit Donation");
    
    $("#donid").val($(this).attr("data-donid"));
    $("#shelterid").val($(this).attr("data-shelterid"));
    $("#donorid").val($(this).attr("data-donorid"));
    $("#donamt").val($(this).attr("data-donamt"));
    $("#dontype").val($(this).attr("data-dontype"));
   
     $("#myModal").modal({
       show: true
     });
    $("#SaveType").val("Edit");
  });
    $("#myClose").click(function(){
    $("#modalTitle").text("Add New Donation");
    
    $("#donid").val("");
    $("#shelterid").val("");
    $("#donorid").val("");
    $("#donamt").val("");
    $("#dontype").val("");
      
    $("#SaveType").val("Add");
  });
});
</script>
