@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select dn.* from donor dn"; 
}
<h1>Donors</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Donor ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Cell Phone</th>
            </tr>
        </thead>
        <tbody>
 @foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.DonorID</td> 
<td>@row.FirstName</td> 
<td>@row.LastName</td> 
<td>@row.StreetAddress</td>
<td>@row.City</td> 
<td>@row.State</td> 
<td>@row.ZipCode</td>
<td>@row.CellPhone</td> 
</tr> 
}
        </tbody>
    </table>
</div>
