@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select a.* from animal a"; 
}
<h1>Employees</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Shelter ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Department</th>
                <th>Date of Birth</th>
                <th>Hire Date</th>
                <th>Employee Phone</th>
                <th>Employee Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.EmployeeID</td> 
<td>@row.ShelterID</td> 
<td>@row.FirstName</td> 
<td>@row.LastName</td>
<td>@row.Department</td> 
<td>@row.DOB</td> 
<td>@row.StartDate</td> 
<td>@row.EmployeePhone</td> 
<td>@row.EmployeeState</td>
<td>@row.ZipCode</td>
<td>@row.Salary</td>

</tr> 
}
            
        </tbody>
    </table>
</div>
