@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select * from Employee_Page"; 
var shelterList = select e.* from employee e join shelter s on s.EmployeeID = e.EmployeeID;
}
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add New Shelter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form method="post" action="save-employee">
  <div class="form-group">
    <label for="empid">Employee ID:</label>
    <input type="text" class="form-control" id="empid" name = "empid">
  </div>
 <div class="form-group">
    <label for="shelterid">Shelter ID:</label>
 <select class = "form-control" id ="shelterid" name = "shelterid">
   @foreach(var shelterrow in db.Query(shelterList))
   {
   <option value = "@shelterrow.ShelterID">@shelterrow.ShelterID</option>
   }
    </select>
  </div>
   <div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" class="form-control" id="firstname" name = "firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" class="form-control" id="lastname" name = "lastname">
  </div>  
  <div class="form-group">
    <label for="dept">Department:</label>
    <input type="text" class="form-control" id="dept" name = "dept">
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input type="text" class="form-control" id="dob" name = "dob">
  </div>
 <div class="form-group">
    <label for="salary">Salary:</label>
    <input type="text" class="form-control" id="salary" name = "salary">
  </div>
 <div class="form-group">
    <label for="zipcode">Zip Code:</label>
    <input type="text" class="form-control" id="zipcode" name = "zipcode">
  </div>
  <div class="form-group">
    <label for="state">State:</label>
    <input type="text" class="form-control" id="state" name = "state">
  </div>
  <div class="form-group">
    <label for="start">Start Date:</label>
    <input type="text" class="form-control" id="start" name = "start">
  </div>
  <div class="form-group">
    <label for="emphone">Employee Phone:</label>
    <input type="text" class="form-control" id="emphone" name = "emphone">
  </div>
   <button type="submit" class="btn btn-primary">Save</button>
</form> 
      </div>
    </div>
  </div>
</div>
<h1>
    Employee
 <!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  +
</button>
</h1><div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Shelter ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Department</th>
                <th>Date of Birth</th>
                <th>Hire Date</th>
                <th>Employee Phone</th>
                <th>Employee Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.EmployeeID</td> 
<td>@row.ShelterID</td> 
<td>@row.FirstName</td> 
<td>@row.LastName</td>
<td>@row.Department</td> 
<td>@row.DOB</td> 
<td>@row.StartDate</td> 
<td>@row.EmployeePhone</td> 
<td>@row.EmployeeState</td>
<td>@row.ZipCode</td>
<td>@row.Salary</td>

</tr> 
}
            
        </tbody>
    </table>
</div>
