@{Layout = "_Layout.cshtml";}

<p>@Request.QueryString["animalid"]</p>
<p>@Request.QueryString["shelterid"]</p>
<p>@Request.QueryString["animalname"]</p>
<p>@Request.QueryString["animaltype"]</p>
<p>@Request.QueryString["gender"]</p>
<p>@Request.QueryString["dob"]</p>
<p>@Request.QueryString["admitdate"]</p>
<p>@Request.QueryString["depdate"]</p>
<p>@Request.QueryString["status"]</p>
