@{Layout = "_Layout.cshtml";}

<p>@Request.Form["animalid"]</p>
<p>@Request.Form["shelterid"]</p>
<p>@Request.Form["animalname"]</p>
<p>@Request.Form["animaltype"]</p>
<p>@Request.Form["gender"]</p>
<p>@Request.Form["dob"]</p>
<p>@Request.Form["admitdate"]</p>
<p>@Request.Form["depdate"]</p>
<p>@Request.Form["status"]</p>
