@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select n.* from shelter n"; 
}
<h1>Shelter</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
              
                <th>Shelter ID</th>
                <th>Shelter Name</th>
                <th>Shelter Phone</th>
                <th>Shelter Email</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Shelter Capacity</th>
                

            </tr>
        </thead>
        <tbody>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.ShelterID</td> 
<td>@row.ShelterName</td> 
<td>@row.ShelterPhone</td> 
<td>@row.ShelterEmail</td>
<td>@row.StreetAddress</td> 
<td>@row.City</td> 
<td>@row.State</td> 
<td>@row.Zipcode</td>
 <td>@row.ShelterCapacity</td>
</tr> 
}
        </tbody>
    </table>
</div>


